{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static  'style.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<style>
    .navbar-brand {
        color:red !important;
    }
</style>

<body>
<div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Portfolio</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/lab-1/">About</a>
              </li>
                <li class="nav-item" >
                <a class="nav-link" href="/my_experience">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/">Diary</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}

<h2><center>Languange Programming</center></h2>
<h5>Below are my programming language experience in 3 years:</h5>
<ul>
    <li>HTML (November 2018)</li>
    <li>CSS (November 2018)</li>
    <li>PHP (July 2018)</li>
    <li>C# (March 2019)</li>
    <li>C++ (February 2018)</li>
    <li>Java (March 2019)</li>
    <li>C (August 2017)</li>
    <li>Javascript (March 2019)</li>
</ul>
</body>
</html>
