{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-size: 30px;
        font-family: "Comic Sans MS";
    }

    .status {
        color:blue;
    }
</style>

</div>
<div class="center_screen">
    <p class="status" id="test">Welcome to my website. Here you will get all information about me, make sure to follow.</p>
</div>
{% endblock %}